.text-nowrap{
    color: orange;
    margin-top: 100px;
    text-align: center;
  }
  .mes1{
    color: white;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
  }
  
  
.text-nowrap{
    font-family: cursive;
}
  /*image */
.im{
    border-radius: 10%;
    width: 100%;

}
.svg_logo{
  max-width: 100%;
  height: auto;
  display: flex;
}
.home_heading_2{
  text-align: center;
  color: orange;
}
.heading_3{
  color: orange;
  text-align: center;
}
.mes_2{
  color: white;
  font-size: 20px;
  margin-left: 10px;
  display: block;
  display: table-cell;
}
.ar_icon{
  position: relative;
  display: table;
}
.svg_logo_1{
  max-width: 100%;
  display: flex;
}
.direction{
  @media (max-width:768px){
    display: flex;
    flex-direction: column-reverse;
  }
}